@media only screen and (min-width: 32.5em) {
    h2 {
        font-size: 22px;
        margin: 22px;
    }
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section:nth-child(2) {
		display: block;
	}

   main section picture {
		display: block;
	}	
    image {
        width: 100%;
        height: auto;
    }
}


