/* Import Font to the pages */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap');

/*s*/
:root {
    /* Fonts */
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'PT Sans', sans-serif;


    /* Colors */
    --primary-color:  #3E5684   ;
    --secondary-color: #10100f ;
    --accent1-color: #e0dbd2;
    --accent2-color: white;
    }
    
    /* Body */
    main{
        display: grid;
    }
    
    
    picture img {
        width: 100%;
      }
    
    h1 {
        font-family: var(--heading-font);
        font-size:  1.5em;
        background-color: var(--primary-color);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        margin: 0%;
        padding: 5px;
    }
    h2{
        font-family: var(--heading-font);
        color: var(--accent1-color);
    }
    p ,a {
        font-family: var(--paragraph-font);
    
    }

    section {
        background-color: var(--accent1-color);
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
    }
    
    header,footer{
        background-color: var(--primary-color);
        color: var(--accent2-color);
        margin-top: 20px;
        padding: 30px;
        border-radius: 10px ;
        text-align: center;
        font-size: large;
    
    }

    /* I don´t why it doesn´t whit this data here and not in the other files */
    @media only screen and (min-width: 60em) {
        main {
            grid-template-columns: 1fr 1fr 1fr;
        }
    
        /*************************************/
    
        main section:nth-child(3) {
            grid-column: span 1;
        }
    }