
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

:root {
    /* colors palette */
    --primary-color: #173966;
    --secondary-color: #f2c173;
    --accent1-color: #be481e;
    --accent2-color: #f1e6d6;
  
    /* font(s) */
    --heading-font:'Noto Sans', sans-serif;
    --paragraph-font: 'Titillium Web', sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: black; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: var(--primary-color)  ;
    --nav-link-color: white;
    --nav-background-color: var(--accent1-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
}


/* GENERAL */
body{
    margin: 0%;
}

main {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}


p, a {
    font-family: var(--paragraph-font);
    text-decoration: none;
}

/* HEADER */

header h1 {
    width: auto;
    margin-bottom: 0;
    padding-bottom: 10px;
}

header{
    height: 50%;
    background-color: var(--primary-color);
}

/* logo header */
header img{
    margin: 1rem;
}

/* NAVIGATOR */


/* social header */
.social-header{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    visibility: hidden;
    margin: 0;
    height: 20px;
    width: auto;
}

.social-header img {
    padding: 1em;
}

/* menu */
#menu::before {
    content: "☰";
}
  
#menu.open::before {
  content: "❌";
  background-color:var(--secondary-color);
}
  
#menu{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    margin: 2rem auto;
    border:  var(--primary-color);
    font-size: x-large;
    position: absolute;
    right: 1.5rem;
}
  
.open li {
    display: grid;
    width: 100%;  
}

.open li a {
    display: grid;
}
  
nav {
    background-color: var(--primary-color);
    justify-content: space-around;
}
  
nav li {
    display: none;
}
  
nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#page-button{
    color: var(--accent2-color);
    border-bottom: solid var(--secondary-color) 5px;
    border-radius: 4px;
}

#page-button:hover{
    color: var(--accent2-color);
    background-color: var(--primary-color);
}

  
nav a {
    display: grid;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    color: var(--accent2-color);
    margin: 2px;
  
}
  
nav a:hover {
    color: var(--accent2-color);
    border-bottom: solid var(--secondary-color) 5px;
    border-radius: 4px;
}

/* banner */
#banner-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background: var(--accent1-color);
    color: rgb(255, 255, 255);
    font-size: x-large;
}
  
.banner h2{
    color: white;
    text-align: center;
}
  
.banner p{
    text-align: center;
    margin: 0;
    padding: 5px;
    color: white;
}
  
#close{
    display: flex;
    font-size: xxx-large;
    font-family: var(--heading-font);
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

#close:hover{
    color: #b4b4b4;
}
  
/* Hero */
#hero-box{
  position:relative;
}

#home-image img {
    display: flex;
    width: 100%;
    height: auto;

}

#home-msg{
    background-color: var(--headline-color-on-color);
    padding: 10px;
    text-align: center;
}

.home-title{
    color: black;
    font-size:xx-large;
    margin-top: 0;
}

.home-subtitle{
    color: black;
    font-size:large;
    text-align: center;
    padding: 0;
}

#join{
    width: auto;
    height: 50px;
    font-size:xx-large;
    border-radius: 20px ;
    display:inline-block;
}

#join a{
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-shadow: 2px 0 0 black;
  text-decoration: underline 2px;
  transition: 0.3s;
  padding: 0;
}

#join a:hover {
    color: var(--accent1-color);
    padding: 0.5rem;
}

/* Home rental */
#types-rental {
    display: grid;
    grid-template-columns: 1fr;
}

#types-rental h2 {
    margin: 2rem 4rem;
    grid-column: 1/4;
    text-align: left;
}

.scooter{
    margin: 2em;
    border-end-end-radius: 2em;
    border-top-left-radius: 2em;
    transition: 1.5s;

}

.scooter:hover{
    margin: 2em;
    border-end-end-radius: 2em;
    border-top-left-radius: 2em;
    transform: scale(1.1); 
}

.scooter:nth-child(2){
    grid-column: 1/2;
}

.scooter:nth-child(3){
    grid-column: 1/2;
}

.scooter:nth-child(4){
    grid-column: 1/2;
}

.scooter h3,.scooter li{
    margin: 1rem;
    text-align: left;
    font-family: var(--paragraph-font);
}

.home-rental-scooters{
    width: 100%;
    height: auto;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: #f2c173 2px 4px 10px;
}

.rental-button{
    margin: 2rem;
}

.rental-button a{
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
}

.rental-button a:hover{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

/* weather card */
#weather-card{
    text-align: left;
    gap: 0rem 8rem;
    margin: 2rem 2rem;
}

#weather-day{
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: #173966 2px 4px 6px;
    margin-bottom: 2rem;
}

#weather-tomorrow{
    text-align: center;
    margin-left: 0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: #173966 2px 4px 6px;


}

/* Gallery section */
#gallery-section{
    margin: 2rem;
    text-align: left;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 0;
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* RENTAL */
.max-rental-pricing h1{
    margin: 2rem 6rem;
}

/* table */
.pricing-table{
    border-collapse: collapse;
    margin: 1rem auto;
    border: 1px solid black;
    width: 80%;
    background-color: #ddd;
}

th, td {
    border: 1px solid black;
    padding: 0.2rem;
    text-align: center;
}

thead{
    background-color: #173966;
    color: white;
}

th{
    font-family: var(--heading-font);
    font-size: large;
}

td{
    font-family: var(--paragraph-font);
}

/* rental products */
#models-rental {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 25px;
	align-items: center;
    margin: 1em 1em 2rem 1rem;
}

#models-rental section {
    text-align: center;
    padding: 20px;

    }

#models-rental img {    
    border-radius: 16px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    margin-top: 10px !important;
    max-width: 100%; 
}
#models-rental img:hover {
    transform: translate(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }

#models-rental section > * {
	margin: 0.1rem;
}

/* RESERVATIONS */
#reservation-main h2{
    text-align: left;
    margin: 1rem 2rem;
}
#grid-reservation{
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 
}

#grid-reservation #application{
    margin-bottom: 1rem;
}

#rental-services{
    text-align: left;
    font-family: var(--paragraph-font);
    font-size: large;
}

#grid-reservation form label.top input:required{
    background-color: rgba(251, 139, 139, 0.633);
}

#grid-reservation form label.top input:required:valid{
    background-color: rgba(173, 245, 159, 0.633);
}

#grid-reservation form label.top input:required{
    border-left: none;
}

/* CONTACT */

#contact-main {
    margin:1rem 2rem;
    grid-template-columns: 1fr  ;
    column-gap: 1rem;
}

#contact-main h1{
    text-align: left;
    grid-column: 1/3;
}
  
#application{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    margin-bottom: 100px;
}
  
#application fieldset{
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
}
  
/*----------- FORM --------------*/
form fieldset{
    margin: 2rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;
}  
  
form legend{
    color: var(--primary-color);
    margin: 0 1rem;
    padding: 0.5rem;
    font-family: var(--heading-font);
}
  
form label.top {
    display: grid;
    padding-top: 1rem;
    color: black;
    font-size: 1rem;
    font-family: var(--paragraph-font);
}

form label.bottom{
    font-family: var(--paragraph-font);
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 5px;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 8px;
    padding: .50rem;
    width: 80%;
    max-width: 20rem;
    background-color: rgba(221, 221, 221, 0.633);
}
  
form div{
    margin-top: 20px;
    margin-bottom: 8px;
    font-family: var(--paragraph-font);
}
  
form input.submitBtn{
    border: 1px solid;
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
  
form input.submitBtn:hover{
    border: 1px solid;
    color: black;
    background-color: rgba(221, 221, 221, 0.633);
}
  
form label.top input:required{
    border-left: red solid 6px;
}
  
form label.top input:required:valid{
    transition-duration: 1s;
    border-left: green solid 6px;
}
  
form label.sbs{
    display: block;
    padding: 2px;
    font-family: var(--paragraph-font);
  
}
  
#timestamp{
    visibility: hidden;
}

/* Map */
.info-location{
    margin: 2rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;
}

iframe{
    width: 100%;
    height: 100%;
}
  
/*FOOTER*/
footer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--accent2-color);
    padding-top: 30px;
}

.links-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1em;
    padding-left: 2em;
}
.footer-links{
    align-self: center;
}

.social{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.social a{
  padding: 0;
}

.social img{
    padding: 1em;
  }

.contact-box p {
    text-align: center;
}

.social img{
    height: auto;
    width: 90%;
    padding-right: 10px;
}
.social li{
    max-width: 60px;
    height: auto;
}





