/* using Google fonts  | */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Titillium+Web:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
:root {
  /* colors palette */
  --primary-color: rgb(70, 130, 70);
  --secondary-color:hsla(55, 100%, 79%, 1);
  --accent1-color: hsla(216, 95%, 7%, 1);
  --accent2-color: hsla(42, 100%, 91%, 1);
  --accent3-color: hsla(0, 0%, 84%, 1);

  /* font(s) */
  --heading-font: 'Quicksand', sans-serif;
  --paragraph-font: 'Titillium Web', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--accent1-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color)  ;
  --nav-link-color: white;
  --nav-background-color: var(--accent1-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);

}

/* General */

main {
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  margin-top: 0;
  background: var(--accent1-color);
}
header {
  padding-top: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

h2.main-title, hr{
  margin: 1rem;
}

h2.main-title{
  margin-top: 3rem;
  margin-bottom: 0;
}

p, a {
  font-family: var(--paragraph-font);
  text-decoration: none;
  color: var(--paragraph-color);
  padding: 1em;
}



/*Header*/

header h1 {
    width: auto;
    margin-bottom: 0;
    padding-bottom: 10px;
}

/* NAVIGATOR */

/* banner */
#banner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.95);
  color: rgb(255, 255, 255);
  border: #7f7f7f 10px solid;
  font-size: x-large;

}

.banner{
  margin: 2rem;
}

.banner p{
  margin: 0;
  padding: 5px;
  color: black;
}

#close{
  display: flex;
  font-size: xx-large;
  font-family: var(--heading-font);
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  color: black;
  background: none;
  border: none;
}

/* menu */
#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
    background-color:var(--secondary-color);
}

#menu{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    margin: auto;
    border:  var(--primary-color);
    font-size: x-large;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.open li {
    display: grid;
    width: 100%;
}

.open li a {
    display: grid;
}

nav {
    background-color: black;
    justify-content: space-around;
}

nav li {
    display: none;
}

nav ul {
	list-style-type: none;
    padding-left: 0;
    margin: 0;
}

nav a {
    display: grid;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: var(--accent2-color);

}

nav a:hover {
    background-color: var(--accent2-color);
    color: black;
    border-radius: 0px ;
}


/*Swisch button*/
.switch {
  position: absolute;
	top: 2rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
  width: 60px;
  height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--accent1-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Hero */
#hero-box{
  position:relative;
}

#home-image img {
    display: flex;
    width: 100%;
    height: auto;

}

#home-msg{
    background-color: var(--headline-color-on-color);
    padding: 10px;
    text-align: center;
}

.home-title{
    color: black;
    font-size:xx-large;
    margin-top: 0;
}

.home-subtitle{
    color: var(--accent1-color);
    font-size:large;
    text-align: center;
    padding: 0;
}

#join{
    width: 100px;
    height: 50px;
    background-color: var(--accent2-color);
    font-size:xx-large;
    border-radius: 20px ;
    display:inline-block;
}

#join a{
  font-family: var(--heading-font);
  padding: 0;
}

#join:hover {
    color: var(--accent1-color);
    background-color: var(--accent3-color);
    border-radius: 20px ;
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 1fr;
}

main #current-card{
    display: grid;
    grid-template-columns: 1fr;
}

main #weather-card{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(255, 255, 255);
}

main #spotlights{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 2em;
    padding: 1rem;
}

main > h2{
    text-align: left;
}
#main-title {
  margin: 1em;
  margin-left: 0;
}
/* current news */

.new-day{
    margin: 1em;
    background: #eaeaea;
    border-end-end-radius: 2em;
    border-top-left-radius: 2em;
}
.new-img{
    border-top-left-radius: 2em;
    height: auto;
    width: 100%;
}

.company-img{
  width: 100%;
  height: auto;
}

/* weather card */
#weather-card{
margin: 1rem;
}
#weather-day{
  background-color: #ffffff;
  border-radius: 2em;
  box-shadow: 1px 2px 4px 0px #333;
}

#weather-icon{
  width:100px;
}

#weather-week{
  margin-top: 2em;
  border-radius: 2em;
  box-shadow: 1px 2px 4px 0px #333;
}

#weather-days{
  background-color: white;
  padding: 0px !important;
  border-radius: 2rem;
}

#weather-days li{
  padding: 10px;
  list-style-type: none;
  text-align: center;
}
/*spotlight cards */
.spotlights-card{
  background-color: white;
  filter: drop-shadow(0px 1px 1px #ccc);
  border-radius: 1em;
  padding: 1rem;
}

.spotlights-card:hover{
  filter: drop-shadow(3px 3px 3px #ccc);
  transition: .2s;
}

.button-box{
  margin-top: 10px;
  border-radius: 2em;
  padding: 0.5em;
  background-color: var(--accent2-color);
}
.button-box:hover{
  background-color: #eaeaea;
}

.contact{
  text-decoration: none;
  color: black;
}

#spotlights p{
  padding: 0%;
}

#spotlights img{
  width: 100%;
  height: auto;
}

/* DISCOVER */
#visit{
  border-bottom: solid #333;
  font-size: x-large;
}
.photo{
  width: 100%;
  height: auto;
}

#local-photos h4{
  padding-top: 0;
  padding-bottom: 2rem;
}

#discover-main {
  grid-template-columns: 1fr  ;
  column-gap: 1rem;
  padding-left: 0;
  padding-right: 0;
}

#information{
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.side-content{
  margin: 1rem;
  padding: 1rem;
  border: solid var(--accent3-color);
}
.side-content h3{
  text-align: left;
}
.side-content p, li{
  padding: 0;
  text-align: justify;
  font-family: var(--paragraph-font);
}

#local-photos{
  padding: 2rem;
  margin: 0 auto;
}

/* DIRECTORY */
#directory-main {
	padding: 2rem ;
}

.button-directory {
	padding: 1rem;
	font-weight: 700;
  text-align: left;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: xx-large;
}


.directory-main section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.directory-main section h2 {
  font-family: var(--heading-font);
	font-size: 1.5rem;
}

.directory-main section p {
	font-weight: 600;
	font-size: smaller;
}

.directory-main section a {
	font-family: var(--paragraph-font);
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
  padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 25px;
	align-items: center;
  margin-bottom: 25px;
}

.grid section {
	text-align: center;
  background-color: #eaeaea83;
  padding: 20px;
  border-radius: 2em;
  box-shadow: #999 0 3px 4px 0px;
}

.grid img {
  max-width: 100%; 
}

.grid section > * {
	margin: 0.1rem;
}

.list {
	display: flex;
	flex-direction: column;
  margin-bottom: 20px;

}

.list section {
	display: grid;
	margin: 0;
	padding: 1rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: var(--accent2-color);
}




/* JOIN */

#join-main {
  grid-template-columns: 1fr  ;
  column-gap: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

#application{
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

#application fieldset{
  text-align: left;
  border-radius: 15px;
  border: var(--primary-color) 2px solid;
  margin-bottom: 20px;
  margin-top: 0;
}

.member-info{
  border-radius: 15px;
  border: var(--primary-color) 2px solid;
  padding: 1rem;
  margin-bottom: 20px;
}
.member-info h2{
  justify-content: center;
  margin-top: 0;
}
.member-info h3{
  text-align: left;
  margin: 0 30px;
}

/*----------- FORM --------------*/
form fieldset{
  margin: 2rem 0;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: .5rem 2%;
}  

form legend{
  color: var(--primary-color);
  margin: 0 1rem;
  padding: 0.5rem;
}

form label.top {
  display: grid;
  padding-top: 1rem;
  color: var(--accent1-color);
  font-size: 1rem;
  font-family: var(--paragraph-font);
}
form label.bottom{
  font-family: var(--paragraph-font);
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 5px;
}
form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 8px;
  padding: .50rem;
  width: 80%;
  max-width: 20rem;
  background-color: rgba(221, 221, 221, 0.633);
}

form div{
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: var(--paragraph-font);
}

form input.submitBtn{
  border: 2px solid;
  background-color: var(--accent2-color);
  color: var(--accent1-color);
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form input.submitBtn:hover{
  border: 1px solid;
  background-color: rgba(221, 221, 221, 0.633);
}

form label.top input:required{
  border-left: red solid 6px;
}

form label.top input:required:valid{
  transition-duration: 1s;
  border-left: green solid 6px;
}

form label.sbs{
  display: block;
  padding: 2px;
  font-family: var(--paragraph-font);

}

#timestamp{
  visibility: hidden;
}

/* thanksyou*/
#thanks h2{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*FOOTER*/
footer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--accent2-color);
    padding-top: 30px;
}

.links-box{
    padding-left: 6em;
}

.social{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.social a{
  padding: 0;
}

.contact-box p {
    text-align: center;
}

.social img{
    height: auto;
    width: 90%;
    padding-right: 10px;
}
.social li{
    max-width: 60px;
    height: auto;
}





