/* Import Font to the pages */

/*s*/
:root {
/* Fonts */
--heading-font: 'Roboto', sans-serif;
--paragraph-font: Alice, Helvetica, sans-serif;

/* Colors */
--primary-color:  cadetblue  ;
--secondary-color: #10100f ;
--accent1-color: #E6DDCF;
--accent2-color: white;
}

/* Body */
html {
    margin:0 auto;
    padding: 0.75rem;
    max-width: 45rem;

}
 
img {
    width: 90px;
    float: left;
    box-shadow: 1px 4px 8px ;
  }

h1 {
    font-family: var(--heading-font);
    font-size:  1.5em;
    color: rgb(255, 255, 255);
}
h2{
    font-family: var(--heading-font);
}
p,ul,a {
    font-family: var(--paragraph-font);

}
header,footer{
    background-color: var(--primary-color);
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px ;
    text-align: center;
    font-size: large;

}

